@import url('https://fonts.googleapis.com/css?family=Pacifico')

// Titlebar variables
$TitleBarWidth: 100%
$TitleBarHeight: 10vh
$TitleBarBackgroundColor: white



// Profile variables
$profileUsernameFS: 85%

// Post variables
$imgPostWidth: 100%
$postHeaderUsernameFS: 70%
$authorDescriptionCommentFS: 80%

#TitleBar 
  width: $TitleBarWidth
  min-height: $TitleBarHeight
  background-color: $TitleBarBackgroundColor

  h2
    font-family: Pacifico

.post-image-wrapper
  width: 75%

.post-wrapper
  width: $imgPostWidth

#Author-Description
  padding-left: 1.3rem

.author-post-img-wrapper
  width: 10%
  // margin-bottom: 1rem

#Author-Post-Header
    padding-left: 0.7rem

.post-author-username
  font-size: $postHeaderUsernameFS

.author-description-comment
  font-size: $authorDescriptionCommentFS

// Profile Styles

// Profile Variables
$ProfileImageWrapperHeight: 100%
$ProfileHeaderFS: 220%

.fixed-profile-row
  z-index: 1

#ProfileTitleBar
  width: $TitleBarWidth
  min-height: $TitleBarHeight
  background-color: $TitleBarBackgroundColor

  h2
    font-size: $profileUsernameFS

.ProfileImageWrapper
  width: $ProfileImageWrapperHeight

.profile-col-pad
  padding: 0.07rem

.profile-header-text
  font-size: $ProfileHeaderFS

#Author-Description
  padding-left: 1.3rem
  

//Menu styles
.menu
  position: fixed
  z-index: 2

#menu-items
  li
    width: 100%
    padding: 0px
    min-height: 4rem
    list-style: none
    color: black
  li:hover
    cursor: pointer


  // Helper classes
.hover-pointer
.hover-pointer:hover
  cursor: pointer

#CreatePostWrapper
  min-height: 100vh

.create-post-panel
  min-height: 70vh
  padding: 4rem
    

